@page "{advertizerId:int?}/{clientId:int?}"
@model ProjektNET.Pages.MessageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ProjektNET.Extensions

<h1>Wiadomości</h1>

<table class="table">
    <thead>
        <tr>
            <th>Klient</th>
            <th>Wlasciciel</th>
        </tr>
    </thead>
    <tbody>
    @if (Model.Messages != null)
    {
        foreach (var message in Model.Messages)
        {
            <tr>
                <td>
                    @if (@message.ClientId == @message.SenderId)
                    {
                        @message.Value
                    }
                </td>
                <td>
                    @if (@message.AdvertizerId == @message.SenderId)
                    {
                        @message.Value
                    }
                </td>
            </tr>
        }
    }
    </tbody>
</table>

<form method="post">
    <p>
        <div class="row">
            Wyślij wiadomość:
            <input asp-for="value" class="form-control" />
            @if (Model.specialId == @ClaimsPrincipalExtension.GetUserId(@User))
            {
                <button type="submit" class="btn btn-primary" asp-page-handler="ClientMessage">Wyślij</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" asp-page-handler="AdvertizerMessage">Wyślij</button>
            }
        </div>
    </p>
</form>
