@page
@model ProjektNET.Pages.ShowOfferModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Contacts home page</h1>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Opis</th>
                <th>Kategoria</th>
                <th>Wystawiający</th>
            </tr>
        </thead>
        <tbody>
        @if (Model.Offers != null)
        {
            foreach (var offer in Model.Offers)
            {
                if(@offer.Active == true)
                {
                    <tr>
                        <td> @offer.Description </td>
                        <td> @offer.Category </td>
                        <td> @offer.Advertizer </td>
                        @* <td>
                            <!-- <snippet_Edit> -->
                            <a asp-page="./EditOffer" asp-route-id="@offer.Advertizer">Edit</a> |
                            <!-- </snippet_Edit> -->
                            <!-- <snippet_Delete> -->
                            <button type="submit" asp-page-handler="delete" asp-route-id="@offer.Advertizer">delete</button>
                            <!-- </snippet_Delete> -->
                        </td> *@
                    </tr>
                }
            }
        }
        </tbody>
    </table>
    <a asp-page="AddOffer">Create New</a>
</form>